*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}
body {
   background: linear-gradient(to right, #1f5f90, #bc77e4);
   color: white;
   min-height: 100vh;
   width: 100%;
}

a{
   color: rgb(238, 235, 235);
   text-decoration: none;
}

.navbar a.active {
   color: rgb(241, 236, 241);
   background-color: #3254a3;

  } 

.navbar{
   width: 100%;
   padding: 10px 8%;
   background: linear-gradient(to bottom, #1e293b, #334155, #284c85);
   display: flex;
   justify-content: space-between;
}
   

.navbar .logo{
   font-size: 30px;
   font-weight: 700;
   transition: .5s;
   font-family: 'times new roman', serif;
}
.navbar ul{
   display: flex;
   flex-wrap: wrap;
}
.navbar ul li{
   list-style: none;
   padding: 10px;
}
.navbar ul li a {
   border-radius: 8px;
   font-size: 17px;
   padding: 8px 10px;  
}
.navbar ul li :hover{
   background-color: #3254a3;

}


 /* <--Course--> */
 .diva-contact-wrapper {
     width: 100%;
     max-width: 980px;
     margin: 80px auto 50px;
     background: linear-gradient(145deg, #ffffff, #f9f3ff);
     padding: 30px 20px;
     border-radius: 20px;
     border: solid #f1d9ff;
     box-shadow: 0 10px 25px rgba(10, 9, 12, 0.873);
 }

.diva-contact-wrapper h1 {
    text-align: center;
    font-size: 38px;
    color: #5a1787;
}
.diva-contact-wrapper h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #050405;
}
.line {
    width: 100px;
    height: 5px;
    background: #c77dff;
    margin: 12px auto 30px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(199, 125, 255, 0.5);
}
.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 20px;
   margin: 80px 20px;
   padding: 0 20px;
}

.card7 {
   color: rgb(6, 0, 9);
   text-align: center;
   width: 100%;
   height: auto;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 5px rgb(147, 140, 140);

}

 .card7 a{
   padding: 8px;
   border-radius: 10px;
   background: #0f12c8;
   box-shadow: 0 4px 12px rgba(54, 50, 50, 0.941);
   margin-top: auto;
}

.card7 p{
   margin: 0; 
   color: #161718; 
}

.card0{
   color: rgb(6, 0, 9);
   padding:50px;
   border-radius: 10px;
   box-shadow: 0 0 5px rgb(142, 136, 136);
}


.button {
   background-color: #1439f1;
   font-weight: bold;
   transition:  0.5s;
   box-shadow: 0 0 5px rgba(38, 39, 40, 0.973);
}

.button:hover {
   transition: all 0.3s ease-in-out;
   background-color: #0b244e;
}
.footer{
   color: #050405;
      margin-top:20%;
     font-size: 15px;
     text-align: center;
}

