
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}
body {
   background: linear-gradient(to right, #1f5f90, #bc77e4);
   color: white;
   min-height: 100vh;
   width: 100%;
   
}

a{
   color: rgb(238, 235, 235);
   text-decoration: none;
}

.navbar a.active {
   color: rgb(241, 236, 241);
   background-color: #3254a3;

  } 

.navbar{
   width: 100%;
   padding: 10px 8%;
   background: linear-gradient(to bottom, #1e293b, #334155, #284c85);
   display: flex;
   justify-content: space-between;
}
   

.navbar .logo{
   font-size: 30px;
   font-weight: 700;
   transition: .5s;
   font-family: 'times new roman', serif;
}
.navbar ul{
   display: flex;
   flex-wrap: wrap;
}
.navbar ul li{
   list-style: none;
   padding: 10px;
}
.navbar ul li a {
   border-radius: 8px;
   font-size: 17px;
   padding: 8px 10px;  
}
.navbar ul li :hover{
   background-color: #3254a3;

}

   /* ----GRADES----- */

.diva-contact-wrapper h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #5a1787;
}

.line {
    width: 100px;
    height: 5px;
    background: #c77dff;
    margin: 12px auto 30px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(199, 125, 255, 0.5);
}

.diva-contact-wrapper {
    max-width: 900px;
    margin: 80px auto 50px;
    background: linear-gradient(145deg, #ffffff, #f9f3ff);
    padding: 30px 20px;
    border-radius: 20px;
    border: solid #f1d9ff;
    box-shadow: 0 10px 25px rgba(13, 13, 14, 0.788);
}
 h2 {
     text-align: center;
     margin-bottom: 50px;
     color: #0c0505;
 }
 table {
     width: 80%;
     margin: auto;
     border-collapse: collapse;
     box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
     border-radius: 10px;
     color: #0d0c0c;   
 }
 th {
     background: #4a6cf7;
     color: white;
     padding: 15px;
     font-size: 18px;
     letter-spacing: 1px;
     
 }
 td {
     padding: 12px;
     text-align: center;
     background: white;
     font-size: 16px;
 }
tr:hover td {
    background: #e4ebff;
    transition: 0.3s;
}
  .footer{
    color: #0d0c0c;
    margin-top:10%;
    font-size: 15px;
    padding: 1%;
    text-align: center;
  }