* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #1f5f90, #bc77e4);
    color: white;
    min-height: 100vh;
    width: 100%;
}

a {
    color: rgb(238, 235, 235);
    text-decoration: none;
}

/* Navbar */
.navbar a.active {
    color: rgb(241, 236, 241);
    background-color: #3254a3;
}

.navbar {
    width: 100%;
    padding: 10px 8%;
    background: linear-gradient(to bottom, #1e293b, #334155, #284c85);
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    transition: .5s;
    font-family: 'Times New Roman', serif;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li {
    list-style: none;
    padding: 10px;
}

.navbar ul li a {
    border-radius: 8px;
    font-size: 17px;
    padding: 8px 10px;
}

.navbar ul li :hover {
    background-color: #3254a3;
}

/* Profile Section */
.home {
    padding: 5%;
    width: 100%;
}

.home h1 {
    font-size: 50px;
    color: rgb(236, 6, 236);
    margin-right: 70%;
    font-family: 'Times New Roman', serif;
}

.home h2 {
    font-style: italic;
    font-size: 30px;
    color: rgb(250, 253, 250);
    margin-bottom: 20px;
}

.home p {
    font-size: 20px;
    color: rgb(246, 250, 246);
    margin-bottom: 10px;
    line-height: 30px;
    font-style: italic;
}

/* Social Icons */
.home-icon .icon {
    display: flex;
    gap: 18px;
    margin-top: 25px;
    flex-wrap: wrap;
   
   
}

.home-icon .icon img {
    width: 60px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.icon :hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
}

/* IMAGE CENTER + ROTATING LIGHT */
.ligth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligth .home-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ligth .home-img div {
    width: 60%;
    max-width: 400px;
    padding: 5px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Rotating Light Border */
.ligth .home-img div::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg, transparent, #161615, #08e517, #33ff00);
    animation: rotateLight 3s linear infinite;
}

/* Image */
.ligth .home-img div img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    object-fit: cover;
}

/* Keyframes */
@keyframes rotateLight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 80px;
    color: #e8e4e4;
    background: linear-gradient(to right, #10283b, #a252d1);
}
